extends ../layout
block content
    form.form-horizontal(method='post', autocomplete='off')
        fieldset
            .form-group
                label.col-md-4.control-label Ny leietaker
            .form-group
                label.col-md-4.control-label(for='ssn') Personnummer
                .col-md-4
                    input#ssn.form-control.input-md(name='ssn', type='number', placeholder='', required='', value='#{tenant.ssn}')
            .form-group
                label.col-md-4.control-label(for='first_name') Fornavn
                .col-md-4
                    input#first_name.form-control.input-md(name='first_name', type='text', placeholder='', required='', value='#{tenant.first_name}')
            .form-group
                label.col-md-4.control-label(for='last_name') Etternavn
                .col-md-4
                    input#last_name.form-control.input-md(name='last_name', type='text', placeholder='', required='', value='#{tenant.last_name}')
            .form-group
                label.col-md-4.control-label(for='phone') Telefon
                .col-md-4
                    input#phone.form-control.input-md(name='phone', type='tel', placeholder='', required='', value='#{tenant.phone}')
            .form-group
                label.col-md-4.control-label(for='mail') E-post
                .col-md-4
                    input#mail.form-control.input-md(name='mail', type='email', placeholder='', value='#{tenant.mail}')

            .form-group
                label.col-md-4.control-label(for='update') Oppdater leietaker
                .col-md-4
                    button#update.btn.btn-success(name='update') Oppdater

            .form-group
                .col-md-4
                .col-md-4: hr

            if tenant.active
                .form-group
                    label.col-md-4.control-label Gjeldende leieforhold
                .form-group
                    label.col-md-4.control-label(for='startdate') Startdato
                    .col-md-4 #{tenant.lease[tenant.lease.length - 1].contract_start_date}
                .form-group
                    label.col-md-4.control-label(for='startdate') Sluttdato
                    .col-md-4 #{tenant.lease[tenant.lease.length - 1].contract_termination_date}
                .form-group
                    label.col-md-4.control-label(for='startdate') Rom
                    .col-md-4 #{tenant.lease[tenant.lease.length - 1].room}
                .form-group
                    label.col-md-4.control-label(for='startdate') Postboks
                    .col-md-4 #{tenant.lease[tenant.lease.length - 1].mailbox}
                .form-group
                    label.col-md-4.control-label(for='startdate') Depositum
                    .col-md-4 #{tenant.lease[tenant.lease.length - 1].safety_deposit}
                .form-group
                    label.col-md-4.control-label(for='terminatelease') Avslutt leieforhold
                    .col-md-4: button#terminatelease.btn.btn-danger(name='terminatelease') Avslutt
            else
                .form-group
                    label.col-md-4.control-label Nytt leieforhold
                .form-group
                    label.col-md-4.control-label(for='startdate') Startdato
                    .col-md-4
                        input#startdate.form-control.input-md(name='startdate', type='date', placeholder='', value='')
                .form-group
                    label.col-md-4.control-label(for='enddate') Sluttdato
                    .col-md-4
                        input#enddate.form-control.input-md(name='enddate', type='date', placeholder='', value='')
                .form-group
                    label.col-md-4.control-label(for='deposit') Depositum
                    .col-md-4
                        input#deposit.form-control.input-md(name='deposit', type='number', placeholder='', value='')
                .form-group
                    label.col-md-4.control-label(for='mailbox') Postboks
                    .col-md-4
                        select#mailbox.form-control(name='mailbox')
                            option(value='#{tenant.mailbox}', selected='selected') #{tenant.mailbox}
                .form-group
                    label.col-md-4.control-label(for='mailbox') Rom
                    .col-md-4
                        select#room.form-control(name='room')
                            option(value='#{tenant.room}', selected='selected') #{tenant.room}
                .form-group
                    label.col-md-4.control-label(for='newlease') Opprett nytt leieforhold
                    .col-md-4
                        button#newlease.btn.btn-success(name='newlease') Nytt leieforhold


    script.
        $(function () {
            $.get('/mailboxes', function (data) {
                if (data == null) {
                    swal('Feil', 'Kunne ikke hente postkasse-data', 'error');
                    return;
                }

                var mailboxesSelect = $('#mailbox');
                $.each(data, function (obj, val) {
                    console.log(val);
                    if (!val.tenant_id) {
                        mailboxesSelect.append('<option value="' + val.box_number + '">' + val.box_number + '</option>');
                    }
                });
            });

            $.get('/rooms', function (data) {
                if (data == null) {
                    swal('Feil', 'Kunne ikke hente rom-data', 'error');
                    return;
                }

                var roomsSelect = $('#room');
                $.each(data, function (obj, val) {
                    if (!val.tenant_id) {
                        roomsSelect.append('<option value="' + val.number + '">' + val.number + '</option>');
                    }
                });
            });

            $('#update').on('click', function () {
                $.ajax({
                    url: '../#{tenant.id}',
                    type: 'PUT',
                    data: {
                        ssn: $('#ssn').val(),
                        first_name: $('#first_name').val(),
                        last_name: $('#last_name').val(),
                        phone: $('#phone').val(),
                        mail: $('#mail').val(),
                    },
                    success: function (result) {
                        window.location = '/tenants/list';
                    }
                });

                return false;
            });

            $('#terminatelease').on('click', function () {
                $.ajax({
                    url: '../lease/#{tenant.id}',
                    type: 'DELETE',
                    success: function (result) {
                        window.location = '/tenants/edit/#{tenant.id}';
                    }
                });

                return false;
            });

            $('#newlease').on('click', function () {
                $.ajax({
                    url: '../lease/#{tenant.id}',
                    type: 'PUT',
                    data: {
                        contract_start_date: $('#startdate').val(),
                        contract_termination_date: $('#enddate').val(),
                        room: $('#room').val(),
                        mailbox: $('#mailbox').val(),
                        safety_deposit: $('#deposit').val(),
                        active: true
                    },
                    success: function (result) {
                        window.location = '/tenants/edit/#{tenant.id}';
                    }
                });

                return false;
            });
        });
